@import "https://unpkg.com/open-props";


h1 a{
  text-decoration: none;
  font-family: 'Tanker', sans-serif;
  text-align: center;
}

audio{
    width: 80%;
    background: #8B008B;
  }
  
body {
 background-color: var(--blue-2);
 color: var(--red-8);
 text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.byrnedance {
  background-image: url(Byrne.mp4);
  }